<nav class="navbar navbar-expand bg-dark flex-md-nowrap shadow">
    <div style="margin: -8px 10px;">
        <a class="navbar-brand brand-logo" routerLink="/">
            <div class="row align-items-center">
                <div class="col">
                    <img src="/app/logo.png" class="brand-logo__image" alt="ABBYY" style="width: 135px;"/>
                </div>
                <div class="col">
                    <span style="font-size: 30px; color: #fff; line-height: 1;">EduSystem</span>
                </div>
            </div>
        </a>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown user-menu">
            <div class="dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                   href="#">
                    Модули
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/">Прохождение теста</a>
                    <a class="dropdown-item" routerLink="/materials">Материалы и тесты</a>
                    <a class="dropdown-item" routerLink="/regions">Регионы</a>
                    <a class="dropdown-item" routerLink="/disciplines">Предметы</a>
                    <a class="dropdown-item" routerLink="/tags">Тэги</a>
                    <a class="dropdown-item" routerLink="/monitoringclient">Клиент сканирования</a>
                    <a class="dropdown-item" routerLink="/verification">Верификация</a>
                    <a class="dropdown-item" routerLink="/blankeditor">Редактор бланков</a>
                    <a class="dropdown-item" routerLink="/kimimageslist">Изображения КИМ</a>
                    <a class="dropdown-item" routerLink="/skillTopics">КЭС/КТ</a>
                    <a class="dropdown-item" routerLink="/testTaskResults">Ответы</a>
                </div>
            </div>
        </li>
    </ul>
</nav>